
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Session["login"] == null)
    {
        Response.Redirect("~/Login/Login");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShfaqPjes</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <td>Emri:</td>
                <td>Sasia:</td>
                <td>Pershkrim:</td>
                <td>Cmimi:</td>
            </tr>
            @foreach(var item in ViewBag.Liste)
            {
                <tr>
                    <td>
                        @item.emer
                    </td>
                    <td>
                        @item.sasia
                    </td>
                    <td>
                        @item.pershkrim
                    </td>
                    <td>
                        @item.cmimi
                    </td>
                </tr>
            }
        </table> 
    </div>
</body>
</html>
