
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "SherbimiDone";
    if (Session["login"] == null)
    {
        Response.Redirect("~/Login/Login");
    }
}

<h2>Sherbimi u shtua</h2>

@ViewBag.Message
